################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/StdVersCode/bin/Debug
/StdVersCode/obj
/StdVersCodeGui/bin/Debug
/StdVersCodeGui/obj
